.vscode 
Group-Chat/bin/*
Group-Chat/build/*

Group-Voice-Chat/bin/*
Group-Voice-Chat/build/*

!/Group-Chat/bin/.keep
!/Group-Chat/build/.keep

!/Group-Voice-Chat/bin/.keep
!/Group-Voice-Chat/build/.keep